---
import { ViewTransitions } from "astro:transitions";
import FezNav from "../components/FezNav.astro";
import FezFooter from "../components/FezFooter.astro";
import { Image } from "astro:assets";
import "../css/global.css";

interface Props {
  frontmatter: {
    data: {
      title: string;
      author: string;
      pubDate: Date;
      description: string;
      image: {
        url: string;
        alt: string;
      };
    };
    slug: string;
  };
}

const { frontmatter: post } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title></title>
    <ViewTransitions />
  </head>
  <body class="relative pb-24" style="min-height: 100dvh;">
    <FezNav />
    <div class="xl:w-full xl:h-[70dvh] md:h-[50dvh] h-[20dvh]">
      <Image
        src={post.data.image.url}
        alt={post.data.image.alt}
        width={1920}
        height={1080}
        transition:name={"post-image-" + post.slug}
        class="object-contain"
      />
    </div>
    <div
      id="blog-post-body"
      class="animate-fadeIn translate-y-[128rem] opacity-0 mt-8 relative bg-primary-50
      grid px-4 gap-y-4 grid-rows
      lg:grid-cols-4 lg:gap-x-8 lg:px-32 lg:translate-y-96
      xl:gap-x-16 xl:px-64 xl:translate-y-72"
    >
      <div class="relative col-span-4">
        <div
          class="absolute px-8 py-4 bg-opacity-50 -top-24 bg-primary-950 text-primary-50"
        >
          <h1 class="font-semibold">
            {post.data.title}
          </h1>
          <small class="text-xs">
            Written by {post.data.author} in {post.data.pubDate}
          </small>
        </div>
        <article class="mt-4 prose">
          <slot />
        </article>
      </div>
    </div>
    <FezFooter />
  </body>
</html>
